/*main*/
body,
html {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: 1.125rem;
    color: #545971;
    font-style: normal;
    max-width: 1920px;
}
.wrapper{
    display: flex;
    overflow: clip;
    flex-direction: column;
    min-height: 100%;
}
.container {
    max-width: 1470px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/*main styles*/
.title{
    color: #171921;

    font-size: 52px;
    font-weight: 700;
    line-height: 64px; /* 123.077% */
}
.text p{
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}
.white {
    color: #fff;
}

/*header*/
.header {
}
/*page*/
.page {
    flex: 1 1 auto;
}
/*footer*/
.footer {
}